__pycache__/
*.py[cod]
.env
.venv/
venv/
logs/
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
ml/models/sklearn/*
ml/models/tensorflow/*
!ml/models/sklearn/.gitkeep
!ml/models/tensorflow/.gitkeep
network/pcap/incoming/*
network/pcap/processing/*
network/pcap/processed/*
network/pcap/failed/*
!network/pcap/incoming/.gitkeep
!network/pcap/processing/.gitkeep
!network/pcap/processed/.gitkeep
!network/pcap/failed/.gitkeep
